<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div id="loader">
        <div class="loader loader1"></div>

        <div class="loader loader2"></div>

        <div class="loader loader3"></div>

        <div class="loader loader4"></div>

        <div class="loader loader5"></div>
      </div>

      <div class="modal fade" id="renameDocumentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="border-radius: 0.93rem">
            <div class="modal-header rename_head">
              <h5 class="modal-title" id="exampleModalLabel">
                <strong>Rename Project</strong>
              </h5>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="assets/img/dashboardSharewithOthersClose.svg" width="10" />
              </button>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">
                  Enter your new project Name:
                </label>

                <input type="text" class="form-control new_rename_box" id="recipient-name"
                  style="border-color: #d4e5f9" />
              </div>
            </div>

            <div class="modal-footer rename_doc_btn">
              <button type="button" class="btn cancel_btn" data-dismiss="modal" style="border: 1px solid #b8b8b8">
                Cancel
              </button>

              <button type="button" class="btn rename_btn" (click)="renameDocumentRequestHandler()"
                data-dismiss="modal">
                Rename
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="renamePortfolioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="border-radius: 0.93rem">
            <div class="modal-header rename_head">
              <h5 class="modal-title" id="exampleModalLabel">
                <strong>Rename Portfolio</strong>
              </h5>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="assets/img/dashboardSharewithOthersClose.svg" width="10" />
              </button>
            </div>

            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label">
                    Enter your new portfolio Name:
                  </label>

                  <input type="text" class="form-control new_rename_box" id="portfolio-name"
                    style="border-color: #d4e5f9" />
                </div>
              </form>
            </div>

            <div class="modal-footer rename_doc_btn">
              <button type="button" class="btn cancel_btn" data-dismiss="modal" style="border: 1px solid #b8b8b8">
                Cancel
              </button>

              <button type="button" class="btn rename_btn" (click)="renamePortfolioRequestHandler()"
                data-dismiss="modal">
                Rename
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- content body of dashboard -->
      <div class="px-3">
        <div class="position-fixed bg-white dashboard-body">
          <h3 class="my-4">
            <strong>{{ userNameDisplay | titlecase }}</strong>
          </h3>
          <p *ngIf="isSubsribe" id="upgradeAlert">Want to do more in SOZO? Upgrade your account now to build more and add more team
            members! &nbsp;<a routerLink="/setting/subscription">Upgrade Now</a></p>

          <!-- mini nav bar -->
          <nav class="nav dashboard_doc_tab mb-3" id="myTab">
            <label class="nav-item active mb-0" data-toggle="tab" data-target="#recentProjects"
              (click)="recentProject()">
              Recent Projects
            </label>

            <label class="nav-item ml-4 mb-0" data-toggle="tab" data-target="#myPortfolios" (click)="myPortfolios()">
              My Portfolios
            </label>
          </nav>
        </div>

        <!-- inner content on nav click -->
        <div class="d-flex align-items-center project-porfolio-container flex-wrap tab-content px-3" id="myTabContent">
          <!-- recent project list -->
          <div class="fade tab-pane show active px-2 py-4" id="recentProjects">
            <div class="d-flex align-items-center flex-wrap">
              <div *ngFor="let item of totalRecentDocs; let i = index" [id]="item.sozo._id" draggable="true"
                (dragstart)="documentDraggingHandler($event, i)"
                class="mb-4 docs-project mr-4 p-1 shadow recent-docs-hover">
                <div class="recent-docs d-block" [id]="item.sozo._id + '1'">
                  <div class="recent-docs-img" role="button" (click)="openRecentDocsHandler(item)">
                    <img id="canvasImg" [src]="item.sozo.imgData" class="h-100 w-100" />
                  </div>

                  <div class="group-logo" [ngStyle]="{
                      display: item.isShare ? 'flex' : 'none'
                    }">
                    <img src="assets/img/Group_user.svg" style="width: 1.95rem" alt="groupuser" />
                  </div>

                  <div class="lastchange-details no-gutters px-3">
                    <div class="">
                      <h3 class="recent-docs-name mb-1 mt-4">
                        {{ item.sozo.name }}
                      </h3>
                      <label class="recent-docs-name">{{
                        item.createdAt | date: "medium"
                        }}</label>
                    </div>

                    <div class="">
                      <img src="assets/img/star-icon.png" id="favoriteIcon" [ngStyle]="{
                          display: item.isFavorite ? 'block' : 'none'
                        }" />
                    </div>
                  </div>

                  <div class="share-and-more align-items-center justify-content-between px-3">
                    <div class="align-items-center justify-content-start flex-fill" [ngStyle]="{
                        display:
                          item.access === 'full' || item.access === 'editshare'
                            ? 'flex'
                            : 'none'
                      }">
                      <div class="d-flex flex-column align-items-center" data-toggle="modal" data-target="#shareModal"
                        role="button" (click)="
                          savePermissionsId(
                            item.viewLink,

                            item.editLink,

                            item.editShareLink,

                            item.sozo._id,
                            item.sozo.name
                          )
                        ">
                        <img src="assets/img/share_temp.svg" class="" style="width: 1.31rem" />

                        <h6 class="text-black m-0">Share</h6>
                      </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-end flex-fill dropdown">
                      <div class="d-flex flex-column align-items-center pt-2 more-option dropdown-toggle" role="button"
                        data-toggle="dropdown" data-display="static" (click)="moreOption(item.sozo._id)">
                        <img src="assets/img/more_opt_temp.svg" style="width: 1.31rem" />

                        <h6 class="text-black m-0 mt-2">More</h6>
                      </div>

                      <div class="dropdown-menu more_list share-more-option cursor-pointer">
                        <a class="dropdown-item" (click)="shouldOpenRecentDocsHandler()">
                          Open
                        </a>

                        <a [ngClass]="{
                            'more-user-opt': item.access === 'readonly'
                          }" class="dropdown-item" data-toggle="modal" [attr.data-target]="
                            item.access === 'full' ||
                            item.access === 'edit' ||
                            item.access === 'editshare'
                              ? '#renameDocumentModal'
                              : ''
                          " data-whatever="@mdo" [ngStyle]="{
                            color: item.access === 'readonly' ? '#ccc' : '#000'
                          }" (click)="
                            renameDocumentHandler(item.sozo._id, item.sozo.name)
                          ">
                          Rename
                        </a>

                        <a [ngClass]="{
                            'more-user-opt':
                              item.access === 'readonly' ||
                              item.access === 'edit' ||
                              item.access === 'editshare'
                          }" class="dropdown-item delete-btn" data-toggle="modal" (click)="
                            item.isOwner && deleteTemplate(item.sozo._id)
                          " [attr.data-target]="
                            item.isOwner && item.isShare
                              ? '#shareDeleteDialogBox'
                              : item.isOwner
                              ? '#deleteDialogBox'
                              : ''
                          " [style.display]="item.isOwner ? 'block' : 'none'" [ngStyle]="{
                            color: item.isOwner ? '#000' : '#ccc'
                          }">
                          Delete
                        </a>

                        <a class="dropdown-item" id="addFavorite" [ngStyle]="{
                            display: item.isFavorite ? 'none' : 'block'
                          }" (click)="addStarredTemplate(item.sozo._id)">
                          Add to favorite
                        </a>

                        <a class="dropdown-item" id="removeFavorite" [ngStyle]="{
                            display: item.isFavorite ? 'block' : 'none'
                          }" (click)="removeStarredTemplate(item.sozo._id)">
                          Remove from favorite
                        </a>

                        <a class="dropdown-item"> Get Changed Notifications </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- my project list -->
          <div class="tab-pane fade px-2 py-4" id="myPortfolios">
            <div class="d-flex align-items-center flex-wrap">
              <div class="mb-4 mr-4 shadow docs-project recent-docs-hover"
                *ngFor="let x of portfolioData; let i = index" (drop)="drop($event, x.folder._id)"
                (dragover)="allowDrop($event)" [id]="x.folder._id">
                <div class="wrapper bg-light recent-folder" [id]="x.folder._id + '1'">
                  <div class="recent-folder-bg-icon position-relative" (click)="getDocs(x.folder._id)">
                    <img class="folder-icon" src="assets/img/folder-icon.svg" />

                    <div class="group-logo-folder" [ngStyle]="{
                        display: x.folder.isShare ? 'flex' : 'none'
                      }">
                      <img src="assets/img/Group_user.svg" style="width: 1.95rem" alt="groupuser" />
                    </div>
                  </div>

                  <div class="bottom-bar">
                    <div>
                      <h3 class="title-content recent-docs-name mb-1 mt-4">
                        {{ x.folder.folderName }}
                      </h3>
                      <label class="recent-docs-name">{{
                        x.createdAt | date: "medium"
                        }}</label>
                    </div>

                    <div>
                      <img src="assets/img/star-icon.png" id="favoriteIcon" [ngStyle]="{
                          display: x.folder.isFavorite ? 'block' : 'none'
                        }" />
                    </div>
                  </div>

                  <div class="share-folder px-3 mx-1 mb-1">
                    <div class="align-items-center justify-content-start flex-fill" [ngStyle]="{
                        display:
                          x.access === 'full' || x.access === 'editshare'
                            ? 'flex'
                            : 'none'
                      }">
                      <div class="d-flex flex-column align-items-center pt-1" data-toggle="modal"
                        data-target="#shareModal" role="button" (click)="
                          saveFolderPermissionsId(
                            x.folder.viewLink,
                            x.folder.editLink,
                            x.folder.editShareLink,
                            x.folder._id,
                            x.folder.folderName
                          )
                        ">
                        <img src="assets/img/share_temp.svg" class="" style="width: 1.31rem" />

                        <h6 class="text-black">Share</h6>
                      </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-end flex-fill">
                      <div class="d-flex flex-column align-items-center pt-2 more-option" role="button"
                        data-toggle="dropdown" data-display="static" (click)="moreFolderOption(x.folder._id)">
                        <img src="assets/img/more_opt_temp.svg" style="width: 1.31rem" />

                        <h6 class="text-black mt-2">More</h6>
                      </div>

                      <div class="dropdown-menu more_folder_list">
                        <a class="dropdown-item"> Open </a>

                        <a class="dropdown-item" data-toggle="modal" data-whatever="@mdo"
                          (click)="renameFolderHandler(x.folder._id)" [attr.data-target]="
                            x.access === 'full' ||
                            x.access === 'editshare' ||
                            x.access === 'edit'
                              ? '#renamePortfolioModal'
                              : ''
                          ">
                          Rename
                        </a>

                        <a class="dropdown-item" data-toggle="modal" (click)="deleteFolder(x.folder._id)"
                          [attr.data-target]="
                            x.folder.isOwner && x.folder.isShare
                              ? '#shareDeleteDialogBox'
                              : x.folder.isOwner
                              ? '#deleteDialogBox'
                              : ''
                          " [style.display]="x.folder.isOwner ? 'block' : 'none'">
                          Delete
                        </a>

                        <a class="dropdown-item" [ngStyle]="{
                            display: x.folder.isFavorite ? 'none' : 'block'
                          }" (click)="addFavoritePortfolio(x.folder._id)">
                          Add to favorite
                        </a>

                        <a class="dropdown-item" id="removeFavorite" [ngStyle]="{
                            display: x.folder.isFavorite ? 'block' : 'none'
                          }" (click)="removeFavorite(x.folder._id)">
                          Remove from favorite
                        </a>

                        <a class="dropdown-item"> Get Changed Notifications </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngFor="let item of totalFolderDocs; let i = index" [id]="item.sozo._id" draggable="true"
                (dragstart)="documentDraggingHandler($event, item.sozo._id)"
                class="mb-4 mr-4 docs-project shadow p-1 recent-docs-hover">
                <div class="recent-docs-container recent-docs d-block" [id]="item.sozo._id + '2'">
                  <div class="recent-docs-img" role="button" (click)="openRecentDocsHandler(item)">
                    <img id="canvasImg" [src]="item.sozo.imgData" class="h-100 w-100" alt="" />
                  </div>

                  <div class="group-logo" [ngStyle]="{
                      display: item.isShare ? 'flex' : 'none'
                    }">
                    <img src="assets/img/Group_user.svg" style="width: 1.95rem" alt="groupuser" />
                  </div>

                  <div class="lastchange-details no-gutters px-3">
                    <div class="">
                      <h3 class="recent-docs-name mb-1 mt-4">
                        {{ item.sozo.name }}
                      </h3>
                      <label class="recent-docs-name">{{
                        item.createdAt | date: "medium"
                        }}</label>
                    </div>

                    <div class="">
                      <img src="assets/img/star-icon.png" id="favoriteIcon" [ngStyle]="{
                          display: item.isFavorite ? 'block' : 'none'
                        }" />
                    </div>
                  </div>

                  <div class="share-and-more align-items-center justify-content-between px-3">
                    <div class="align-items-center justify-content-start flex-fill" [ngStyle]="{
                        display:
                          item.access === 'full' || item.access === 'editshare'
                            ? 'flex'
                            : 'none'
                      }">
                      <div class="d-flex flex-column align-items-center" data-toggle="modal" data-target="#shareModal"
                        role="button" (click)="
                          savePermissionsId(
                            item.viewLink,

                            item.editLink,

                            item.editShareLink,

                            item.sozo._id,
                            item.sozo.name
                          )
                        ">
                        <img src="assets/img/share_temp.svg" class="" style="width: 1.31rem" />

                        <h6 class="text-black m-0">Share</h6>
                      </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-end flex-fill dropdown">
                      <div class="d-flex flex-column align-items-center pt-2 more-option dropdown-toggle" role="button"
                        data-toggle="dropdown" data-display="static" (click)="moreOption(item.sozo._id)">
                        <img src="assets/img/more_opt_temp.svg" style="width: 1.31rem" />

                        <h6 class="text-black m-0 mt-2">More</h6>

                        <div class="dropdown-menu more_list share-more-option cursor-pointer">
                          <a class="dropdown-item" (click)="shouldOpenRecentDocsHandler()">
                            Open
                          </a>

                          <a [ngClass]="{
                              'more-user-opt': item.access === 'readonly'
                            }" class="dropdown-item" data-toggle="modal" [attr.data-target]="
                              item.access === 'full' ||
                              item.access === 'editshare' ||
                              item.access === 'edit'
                                ? '#renameDocumentModal'
                                : ''
                            " data-whatever="@mdo" [ngStyle]="{
                              color:
                                item.access === 'readonly' ? '#ccc' : '#000'
                            }" (click)="renameDocumentHandler(item.sozo._id)">
                            Rename
                          </a>

                          <a [ngClass]="{
                              'more-user-opt':
                                item.access === 'readonly' ||
                                item.access === 'edit' ||
                                item.access === 'editshare'
                            }" class="dropdown-item delete-btn" data-toggle="modal" (click)="
                              item.isOwner && deleteTemplate(item.sozo._id)
                            " [attr.data-target]="
                              item.isOwner && item.isShare
                                ? '#shareDeleteDialogBox'
                                : item.isOwner
                                ? '#deleteDialogBox'
                                : ''
                            " [style.display]="item.isOwner ? 'block' : 'none'" [ngStyle]="{
                              color: item.isOwner ? '#000' : '#ccc'
                            }">
                            Delete
                          </a>

                          <a class="dropdown-item" id="addFavorite" [ngStyle]="{
                              display: item.isFavorite ? 'none' : 'block'
                            }" (click)="addStarredTemplate(item.sozo._id)">
                            Add to favorite
                          </a>

                          <a class="dropdown-item" id="removeFavorite" [ngStyle]="{
                              display: item.isFavorite ? 'block' : 'none'
                            }" (click)="removeStarredTemplate(item.sozo._id)">
                            Remove from favorite
                          </a>

                          <a class="dropdown-item">
                            Get Changed Notifications
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>