

<div class="container-fluid">
    <div class="row border-bottom">
      <div class="col-12 d-flex justify-content-between py-3 px-5">
        <img src="assets/img/sozoMainLogo.svg" class="sozo-icon" />
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="d-flex my-4 sozo-paragraph">
          <div class="mr-3 sozo-paragraph-subtitle">
          </div>
          <div class="square-pattern-block">
            <img
            src="assets/img/square-pattern-icon.svg"
            alt=""
            class="square-pattern-icon"
          />
          </div>
        </div>
      </div>
    </div>
  
    <section
      class="login-bg-img"
      style="background-image: url('assets/img/sozoBackground.svg')"
    >
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-4">
              <div 
              class="pencil-icon row"
              style="background-image: url('assets/img/sozoDrawing.svg')">
            </div>
            </div>
            <div class="col-8">
              <img src="assets/img/Artwork.svg" class="sozosignin-artwork"/>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-center sign-block">
          <div class="card signin-container border-0">
            <div class="card-body signin-container-bogttdy">
              <h4 class="card-title font-weight-bold mb-4">Forgot your password?</h4>
              <h6 class="mb-4">Enter your email address or username so we can send you a link to reset your password.</h6>
              <form #authForm="ngForm" (ngSubmit)="authForm.valid && onSubmit(authForm)">
                <div class="form-row no-gutters">
                  <div class="col-12 form-group mb-0 d-flex">
                    <img
                      class="input-icon"
                      src="assets/img/messageSignup.svg"
                      alt=""
                    />
                    <input
                    type="email"
                    class="form-control input-bg"
                    id="email"
                    name="email"
                    [(ngModel)]="email"
                    #emailField="ngModel"
                    placeholder="Email Address"
                    [pattern]="pattern.email"
                    autocomplete="off"
                     required
                    />
                  </div>
                  <div
                  *ngIf="
                    emailField.invalid &&
                    (authForm.submitted ||
                      emailField.touched ||
                      emailField.dirty)
                  "
                >
                  <div
                    *ngIf="emailField.errors.required"
                    class="invalid-feedback d-flex mt-0 mb-3"
                  >
                    Email address is required.
                  </div>

                  <div
                    *ngIf="emailField.errors.pattern"
                    class="invalid-feedback d-flex mt-0 mb-3"
                  >
                    Invalid email address.
                  </div>
                </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block">
                     Send reset link
                    </button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  