
<div class="bg-help-banner p-5" [style.background-image]="'url(assets/img/helpOptionBg.svg)'">
    <div class="page-title">
      <h3 class="text-white">Help option</h3>
      <p class="text-white mb-2">
        Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text
      </p>
      <div class="help-search col-md-4 p-0">
        <input
          type="text"
          class="form-control search-text px-4 border-0"
          placeholder="search for article"
        />
        <span class="help-maginfied">
          <img src="../assets/img/Group 18743.svg"class="mt-1" />
        </span>
      </div>
    </div>
  </div>

  <div class="card-help col-lg-12 col-12 pt-5 row px-5">
    <div class="col-md-6">
      <div class="card custom-box-shadow">
        <div class="card-body p-5">
          <div class="d-flex justify-content-between">
            <div class="help-img align-self-center">
              <img src="assets/img/help (1).svg" />
            </div>
            <div class="multi-avtar">
              <div class="avatar-group">
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-20.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-6.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-8.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-9.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-6.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
              </div>
              <p class="mt-2">44 Articles in the collections</p>
            </div>
          </div>
          <h4 class="help-primary my-2 font-weight-bold">Get Started</h4>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card custom-box-shadow">
        <div class="card-body p-5">
          <div class="d-flex justify-content-between">
            <div class="help-img align-self-center">
              <img src="assets/img/video-camera (6).svg" />
            </div>
            <div class="multi-avtar">
              <div class="avatar-group">
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-20.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-6.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-8.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-9.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
                <div class="avatar pull-up">
                  <img
                    src="assets/img/avatar-s-6.jpg"
                    alt="Avatar"
                    width="33"
                    height="33"
                  />
                </div>
              </div>
              <p class="mt-2">44 Articles in the collections</p>
            </div>
          </div>

          <h4 class="help-primary my-2 font-weight-bold">Live Tutorial</h4>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley.
          </p>
        </div>
      </div>
    </div>
  </div>

