<div class="col-md-auto ml-sm-auto col-lg-auto px-4 dashboard">
  <div class="page-title">
    <h3>Referral Option</h3>
    <p class="m-0">Refer Users and get discount on Upgrade</p>
    <hr />
  </div>
  <div class="sub-title">
    <h4 class="bold-title">Get discount</h4>
    <p class="m-0 trunctxt">Share referral link to get discount</p>
  </div>
  <div class="discount-label d-flex my-3">
    <div class="col-md-3 row">

      <div class="custom-control custom-radio user-status-radio-btn">
        <input
          type="radio"
          class="custom-control-input user-status"
          id="userDiscount10"
          name="userDiscount"
          required
        />
        <label
          class="custom-control-label user-status-label"
          for="userDiscount10"
        >
          5 Users 10% discount
        </label>
      </div>
    </div>
    <div class="col-md-3 row">
      <div class="custom-control custom-radio user-status-radio-btn">
        <input
          type="radio"
          class="custom-control-input user-status"
          id="userDiscount25"
          name="userDiscount"
          required
        />
        <label
          class="custom-control-label user-status-label"
          for="userDiscount25"
        >
        10 Users 25% discount
        </label>
      </div>
    </div>
    <div class="col-md-3 row">
      <div class="custom-control custom-radio user-status-radio-btn">
        <input
          type="radio"
          class="custom-control-input user-status"
          id="userDiscount30"
          name="userDiscount"
          required
        />
        <label
          class="custom-control-label user-status-label"
          for="userDiscount30"
        >
        20+ Users 35% discount
        </label>
      </div>
    </div>
  </div>

  <form class="validate-form" novalidate="novalidate">
    <div class="row">
      <div class="col-12 col-sm-10 col-lg-9 col-xl-9 row">
        <div class="col-12 col-sm-12 col-lg-6 col-md-12 col-xl-6">
          <div class="sub-title">
            <h4 class="bold-title border-abs">
              <span class="pr-2 bg-white send-email">Send Email</span>
            </h4>
          </div>
          <div class="form-group">
            <label for="account-username">Enter Email</label>
            <input
              type="text"
              class="form-control"
              id="account-username"
              name="username"
              placeholder="Email"
              value=""
              aria-invalid="false"
            />
          </div>
        </div>
        <div
          class="col-12 col-sm-12 col-lg-6 col-md-12 col-xl-6 mb-sm-5 mb-lg-0"
        >
          <div class="sub-title">
            <h4 class="bold-title">
              <span class="pr-2 bg-white social-media">Share link or Social media</span>
            </h4>
          </div>
          <div class="form-group positon-relative">
            <label for="account-name">Enter Email</label>
            <input
              type="text"
              class="form-control"
              id="account-name"
              name="name"
              placeholder="Email"
              value=""
            />
            <span class="copy-icon"
              ><img src="assets/img/copy-content.svg"
            /></span>

            <div class="social-icons mt-2">
              <ul class="d-flex justify-content-between">
                <li class="mr-2">
                  <a><img src="assets/img/Group 18758.svg" /></a>
                </li>
                <li class="mr-2">
                  <a><img src="assets/img/Group 18759.svg" /></a>
                </li>
                <li>
                  <a><img src="assets/img/Group 18760.svg" /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-6 col-md-12 col-xl-6">
          <div class="form-group">
            <label for="account-e-mail">Friends Email</label>
            <input
              type="email"
              class="form-control"
              id="account-e-mail"
              name="email"
              placeholder="Email"
              value=""
            />
          </div>
        </div>
        <div class="col-12 col-sm-12">
          <div class="form-group col-12 col-lg-6 col-md-12 p-0 col-sm-12">
            <label for="account-e-mail">Enter Message</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div class="col-12  col-lg-12 col-md-12 ">
          <div class="form-group">
            <div class="col-lg-6 p-0 setting-butn">
              <button
                type="button "
                class="
                Send-Mail
                  btn
                  mt-2
                  text-white
                  float-right
                  active
                "
              >
                Send Mail
              </button>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <hr />
      </div>
    </div>
  </form>
</div>
