.search-result {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}
#canvasImg {
  object-fit: cover;
}
.recent-folder-bg-icon {
  background-image: url(/assets/img/folder-bg.svg);
  height: 12.2rem;
  width: 15.2rem;
  cursor: pointer;
}
.recent-folder-bg-icon .folder-icon {
  width: 7rem;
  position: relative;
  left: 4.2rem;
  top: 3.2rem;
}
.recent-folder-bg-icon .group-logo-folder {
  position: absolute;
  top: 9.8rem;
  right: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.bottom-bar {
  display: flex;
  height: 3.5rem;
  padding: 0.625rem;
  background-color: #f8f9f9;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #f8f9f9;
  align-items: center;
  /* margin-top: 7.5rem; */
  position: relative;
  width: 15.2rem;
  justify-content: space-between;
}
.title-content {
  font-size: 0.85rem;
  overflow: hidden;
  font-weight: bold;
  max-height: 32px;
  vertical-align: middle;
  white-space: nowrap;
  color: #000;
}
.share-folder {
  display: none;
  background-color: #befdac;
  border-radius: 0 0 2px 2px;
  /* margin-top: 7.5rem; */
  position: relative;
  width: 15.2rem;
}
.row.template_list {
  display: none;
  /* margin-top: 10rem;
    max-height: 70rem;
    height: 100vmin;
    overflow-y: scroll;
    scroll-behavior: smooth; */
}
.more-option label {
  cursor: pointer;
}
.more_folder_list {
  min-width: 11.87rem;
  border: none !important;
  box-shadow: 0 0 1.56rem #51515133;
  border-radius: 0.62rem;
}

.more_folder_list a:focus {
  background-color: #fff;
  color: #000;
}

.more_folder_list a:hover {
  background-color: #fff;
}

.more_folder_list a:active {
  color: #000;
}

.more_folder_list::after {
  content: "";
  position: absolute;
  display: block;
  width: 0.93rem;
  height: 0.93rem;
  bottom: 97%;
  right: 9.4rem;
  background-color: #fff;
  transform: rotateZ(45deg);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.total-folder-docs {
  margin-right: 2.2rem;
}
.recent-docs-container {
  width: 15rem;
  border-radius: 0.6rem;
  position: relative;
  display: none;
}
.recent-docs-img {
  height: 12.25rem;
  width: 100%;
}
.recent-docs .group-logo {
  position: absolute;
  top: 9.8rem;
  right: 0.7rem;
  border-radius: 50%;
  overflow: hidden;
}
.recent-docs-name {
  font-weight: 800;

  font-size: 0.81rem;
}
.lastchange-details {
  display: flex;

  align-items: center;

  justify-content: space-between;

  height: 3.5rem;

  background-color: #f8f9f9;

  border-radius: 0 0 0.6rem 0.6rem;

  overflow: hidden;
}
.favorite-icon img {
  margin-top: 1rem;
}
.share-and-more {
  margin-top: -0.1rem;
  display: none;
  background-color: #befdac;
  height: 3.5rem;
  border-radius: 0 0 0.6rem 0.6rem;
}

.more_list a,
.more_folder_list a {
  padding: 1rem;

  font-size: 0.75rem;
}

.more_list a:hover,
.more_folder_list a:hover {
  background-color: #cff7cc;

  border-left: 3px solid #62af49;
}
.more-user-opt:hover {
  background-color: #fff !important;
  cursor: no-drop !important;
}
.more_list {
  min-width: 11.87rem;
  border: none !important;
  box-shadow: 0 0 1.56rem #51515133;
  border-radius: 0.62rem;
}
.rename_btn {
  background-color: #62af49;
  color: #fff;
}

.more_list a:focus {
  background-color: #fff;
  color: #000;
}

.more_list a:active {
  color: #000;
}

.more_list::after {
  content: "";
  position: absolute;
  display: block;
  width: 0.93rem;
  height: 0.93rem;
  bottom: 97%;
  right: 9.4rem;
  background-color: #fff;
  transform: rotateZ(45deg);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#favoriteIcon {
  display: none;
  width: 1rem;
}
